/*-----Footer-----------*/
footer{
    margin-top: 50px;
}
footer > .container{
    display: flex;
    flex-direction: column;
}
    .name{
        color: var(--color-1);
        text-align: center;
        margin: 2rem 1rem .5rem 1rem;
    }
    .networksContainer{
        display: flex;
        align-self: center;
        list-style: none;
    }
        .networks{
            cursor: pointer;
            margin: .3rem;
        }
        .networks > img:hover{
            filter: hue-rotate(200deg) contrast(165%) brightness(180%);
        }
        .networks > img{
            width: 40px;
            height: 40px;
        }
    .copyright,
    .desing{
        line-height: 1.5rem;
        text-align: center;
        color: var(--color-4);
    }

    .desing > a{
        position: relative;
        text-decoration: none;
        color: var(--color-5);
    }
    .desing > a::after{
        position: absolute;
        content: '';
        transition: width .1s ease-in;
        width: 0%;
        height: 1px;
        background-color: var(--color-5);
        left: 0;
        bottom: 0;
    }
    .desing > a:hover::after{
        width: 100%;
    }